{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load static %}
{% block specific_css %}
    <link rel="stylesheet" href={% static 'backend/css/degree_pathway_styles.css' %}>
{% endblock %}
{% block contents %}
    <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:650px;">
            <!-- first slide -->
            <div class="ls-slide">
                <img src="{% static 'backend/img/slides/slide_1.jpg' %}" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;"
                    data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                    Degree Pathway</h3>
                <h4 class="ls-l slide_typo" style="top: 52%; left: 50%;"
                    data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                    Choose your degree pathway and start your journey to a new career.</h4>
            </div>
        </div>
    </div><!-- End layerslider -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="{% url 'backend:home' %}">Home</a></li>
                <li>Degree Pathway</li>
            </ul>
        </div>
    </div><!-- Position -->
    <!--Academic Diploma Pathway-->
    <div class="academic_diploma">
        <h1>NCC ACADEMIC DIPLOMA PATHWAY</h1>
        <img src="{% static 'backend/img/academic_focus.png' %}" alt="NCC Academic Diploma Pathway">
    </div>

    <!--Focus Diploma-->
    <div class="focus_diploma">
        <h1>INDUSTRY FOCUS DIPLOMA PATHWAY</h1>
        <img src="{% static 'backend/img/industry_focus.png' %}" alt="Industry Focus Diploma Pathway">
    </div>

    <div class="details">
        <nav class="navbar">
            <div class="container-fluid">
                <!--mobile dropdown menu-->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">All
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li id="all-list"><a href="{% url 'backend:degree_pathway' 'all' %}">All</a></li>
                        {% for level in levels %}
                            <li><a>{{ level }}</a></li>
                        {% endfor %}
                        {#                                <li><a class="foundation-level-3">Foundation-Level 3</a></li>#}
                        {#                                <li><a class="diploma-level-4">Diploma-Level 4 (Industry Focus)</a></li>#}
                        {#                                <li><a class="ncc-level-4">NCC Academic Level 4 Diploma</a></li>#}
                        {#                                <li><a class="ncc-level-5">NCC Academic Level 5 Diploma</a></li>#}
                        {#                                <li><a class="ncc-level-6">NCC Academic Level 6 Diploma</a></li>#}
                    </ul>
                </div>

                <!--Desktop dropdown menu-->
                <ul class="nav navbar-nav levels-nav">
                    <li id="all-list"><a href="{% url 'backend:degree_pathway' 'all' %}">All</a></li>
                    {% for level in levels %}
                        <li class="level"><a>{{ level }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class="cards">
            <div class="row" id="course-info">
                {% for course in courses %}
                    <div class="col-lg-3 col-md-2 col-sm-1" data-classid="diploma{{ course.pk }}">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 id="course-title-text">{{ course.courseTitle }}</h2>
                            </div>
                            <div class="flip-card-back" id="course-desc-text">
                                {{ course.overview|slice:"45:"|richtext|truncatewords_html:34 }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contents %}
{% block specific_scripts %}
    <script>
        $(document).ready(function () {
            $('.level').each(function () {
                $(this).click(function () {
                    var level = $(this).text();
                    var html = "";
                    {% for course in courses %}
                        if ("{{ course.level.levelName }}" === level) {
                            html += `<div class="col-lg-3 col-md-2 col-sm-1" data-classid="diploma{{ course.pk }}">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 id="course-title-text">{{ course.courseTitle }}</h2>
                            </div>
                            <div class="flip-card-back" id="course-desc-text">
                              {{ course.overview|slice:"45:"|richtext|truncatewords_html:34 }}
                            </div>
                        </div>
                    </div>`;
                        }
                    {% endfor %}
                    $("#course-info").html(html);
                });
            });
        });
    </script>
{% endblock specific_scripts %}